#about-me {
  height: 600vh;
  width: 100%; /* quanto mais alto, mais lento a animação */
  /* border: 1px dashed rgb(255, 230, 65); */
}

.sticky-container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px dashed rgb(255, 230, 65); */
}

#hero-canvas {
  width: 500px;
  height: 500px;
  object-fit: contain;
  /* border: 1px dashed rgb(255, 230, 65); */
}
