/* CABEÇALHO PRINCIPAL DA PÁGINA */
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: none;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);

  /* Suaviza as bordas do backdrop */
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.container-navigation {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0px;
  /* border: 1px solid red; */
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

/* GHOST PARA EFEITO IMÃ / POSICIONAMENTO DO overflow-menu-wrapper  */
#menu-ghost {
  width: 46px;
  height: 46px;

  border-radius: 50%;
  border: 1px dashed var(--color-cta);

  pointer-events: none;
  z-index: 99;
}

#menu-ghost {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.25s ease;
}

#menu-ghost.active {
  opacity: 1;
  transform: scale(1.1);
}
