#preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--color-bg);
  z-index: 10;
  gap: var(--gap-lg);
}

#preloader svg {
  width: 36rem;
  height: auto;
}
#preloader svg path {
  fill: none;
  stroke: var(--color-cta);
  stroke-width: 3px;
  stroke-dasharray: 1800px;
  stroke-dashoffset: 1800px;
}

#preloader-text {
  font-size: var(--text-3xl);
  opacity: 0;
  display: none;
}
