#projects-section {
  width: calc(100% - 24px);
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  gap: 1.2rem;
  /* border: 1px dashed rgb(0, 132, 255); */
}
#projects-section h2 {
  font-size: 1.6rem;
  color: var(--color-cta);
}

#projects-section header .badge {
  display: inline-block;
  border-radius: 24px;
  padding: 6px 14px;
  border: 1px dashed var(--color-cta);
  box-shadow: var(--shadow);
}
