/* CARD DE PROJETO */
#container-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-rows: 2fr; */
  column-gap: 16px;
  row-gap: 16px;
}

.project-card {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--radius-card);
  box-shadow: var(--shadow);
  background-color: var(--color-surface);
  clip-path: url(#sq-card);
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-md);
  padding: var(--padding-sm);
  border-radius: var(--radius-project-header);
  background-color: var(--color-cta);
  /* border: 1px dashed rgb(0, 132, 255); */
}

.elipse-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--height-button);
  height: var(--height-button);
  flex-shrink: 0;
  border-radius: 50%;
}

.explorer-link {
  width: 2.4rem;
  height: 2.4rem;
  color: #ffffff;
}

.project-header h3 {
  color: #ffffff;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-container-project {
  width: 100%;
  height: 200px;
  flex-shrink: 0;

  background-color: var(--color-border);
  border-radius: var(--radius-bottom-sm);
  overflow: hidden;
}

.img-container-project img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* preenche sem distorcer */
  object-position: center; /* centraliza o foco */
}

.tech-list {
  display: flex;
  gap: var(--gap-xs);
  list-style: none;
}

.tech-list li {
  border: 2px solid var(--color-cta);
  border-radius: var(--radius-sm);
  padding: var(--padding-tech-list);
}
.tech-list li p {
  font-size: var(--text-sm);
  font-weight: 800;
}

.project-links {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-sm);
  /* border: 1px dashed red; */
  padding: 0;
}

.project-links .link-project {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--height-button);
  font-size: var(--text-md);
  padding: var(--padding-button);

  border-radius: var(--radius-button);

  color: #ffffff;
  background-color: var(--color-cta);
  transition: background-color 0.2s;
}

.project-links a:hover {
  background-color: var(--color-cta-dark);
}

.project-footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--padding-sm);
}

.interactive-btns {
  display: flex;
}
