/* SEÇÃO 02 */
.sec2 {
  display: flex;

  .divGradient {
    border-radius: 40px;
    background: radial-gradient(
      114.84% 100% at 50% 100%,
      #020315 42.14%,
      #5b2cd2 66.11%,
      #e5deff 100%
    );
    flex-direction: row;
    align-items: stretch;
    padding: 120px 4vw 120px;
  }

  .esquerda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 280px;
    margin-right: 60px;

    h2 {
      position: absolute;
      top: 0;
    }

    p {
      margin-bottom: 16px;
    }
  }

  .direita {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    .degrade {
      background: linear-gradient(
        263deg,
        rgba(255, 255, 255, 0.2) 3.87%,
        rgba(255, 255, 255, 0) 97.72%
      );
    }

    .card {
      width: 33%;
      border-radius: 32px;
      padding: 20px 20px;

      h3 {
        margin: 24px 0 8px;
      }
    }
  }
}
